@font-face {
   font-family: 'verdanab';
   font-display: swap;
   src: url('file:///C:/Users/ZSSof/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-23_004042/fonts/verdanab/font.ttf');
}
